<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/minstyle.io.css"> <!-- https://minstyle.io v0.2.3 -->
    <link rel="stylesheet" href="../styles/light.css">
    <script src="../app/light.js"></script>
</head>

<body>
    <form>
        <fieldset>
            <div class="col-s-12">
                <span class="ms-badge ms-gradient">
                    <script>echo('Shooting Response')</script></span>
                <input type="number" id="shootingResponse" class="ms-yellow" style="background-color:#d4ebcd">
            </div>
            <div class="col-s-12">
                <input class="ms-btn ms-yellow ms-large" type="submit" id="set" onclick="global.shootingResponse = document.getElementById('shootingResponse').value;prefs.setShootingResponse();nw.Window.get().close();">
                <a class="ms-btn ms-blue ms-large" onclick="prefs.setShootingResponseDefault();nw.Window.get().close();">
                    <script>echo('Default')</script></a>
                <a class="ms-btn ms-green ms-large" onclick="prefs.showCurrentShootingResponse();">
                    <script>echo('Current Value')</script></a>
                <a class="ms-btn ms-border-bottom ms-red ms-large" onclick="nw.Window.get().close()">
                    <script>echo('Cancel')</script></a>
            </div>
        </fieldset>
    </form>
    <script>
        document.getElementById("set").value = lang.echo("Set");
        document.title = lang.echo("Shooting Response Configuration");
        document.getElementById("shootingResponse").placeholder = lang.echo("For ex.: 1200 (1.2 seconds)");
    </script>
</body>

</html>